################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectSettings.json
/.vs/config/applicationhost.config
/.vs/stat50of36/v15/Server/sqlite3/db.lock
/.vs/stat50of36/v15/Server/sqlite3/storage.ide
/.vs/stat50of36/v15/Server/sqlite3/storage.ide-shm
/.vs/stat50of36/v15/Server/sqlite3/storage.ide-wal
/.vs/counter/v15/.suo
/.vs/VSWorkspaceState.json
/.vs/stat50of36/v15/.suo
