<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <!--<add key="Dcode" value="9E4TGcAJOuCgRDXh8+tH8qjn+JIvPhSvWB0qyemXjTHZMz3xg76nQfZp7UwDzIWSeg7Fo99UW4="/>-->
      <add key="Dcode" value="9EL4TGcAJOuCgRa+mDrDrBJoBYDDXh8+tH8qjn+JIvPhSvWB0qyemXjPeBAS0z9xjgqs8ZtUKwTHZMz3xg76nQfZp7UwDzIWSeg7Fo99UW4="/>
      <!--<add key="xp" value="zpg0YM02Te370qfAghz9ubSBOUsTlJuLySPjhULKeXo="/>-->
      <add key="xp" value="UyrQLC15tBYGk4SPnM1VcTMQWo5RwAGp7zaWsr37BQg="/>
    </appSettings>
</configuration>